.item-wrap{
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: auto;
    border: 1px solid #ccc;
    padding: 5px 10px ;
    label{
      .item-name{
      font-size: 14px;
      margin-left: 8px;
    }
    }
  }
}