@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.app-wrap{
  width: 600px;
  height: 90vh;
  margin: 5vh auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  .btn{
    cursor: pointer;
    background: rgb(230, 84, 84);
    width: auto;
    height: 25px;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    color:#fff;
    line-height: 10px;
    text-align: center;
    display: none;
  }
}
